<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Actualizar Contraseña</title>
    <link rel="stylesheet" th:href="@{/css/modal-login.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
<div th:fragment="actualizarContra" id="actualizarContra" class="modal" style="display: none;">
  <div class="formulario-contenedor">
    <button class="close-modal">&times;</button>
    <h1>ACTUALIZAR CONTRASEÑA</h1>

    <form method="post" class="formulario">
      <div class="input-group">
        <i class="fas fa-lock" style="color: white;"></i>
        <input
          type="password"
          name="contrasena"
          placeholder="Nueva contraseña"
          required
        />
      </div>

      <div class="input-group">
        <input
          type="password"
          name="confirmar_contrasena"
          placeholder="Confirmar contraseña"
          required
        />
      </div>

      <button type="submit" class="btn-login">
        <i class="fas fa-arrow-right"></i> ACTUALIZAR
      </button>
    </form>
  </div>
</div>


</body>
</html>
