<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Explorar</title>
  <!-- Enlace de estilos-->
  <link rel="stylesheet" th:href="@{/css/estiloPagPrin.css}">
</head>
<body>
  <header class="navbar">
    <div class="logo">
      <a href="index.html"><img src="SKILLTourney_sin fondo.png" alt="SkillTourney Logo"></a>
    </div>
    <nav>
      <a href="explorar.html">Explorar</a>
      <a href="clasificacion.html">Clasificación</a>
      <a href="comprar.html">Comprar</a>
    </nav>
    <div class="user-area">
      <a href="usuario.html" class="user-link">
      <div class="avatar">ST</div>
      <div class="username">Usuario</div>
    </a>
    </div>
  </header>

  <main class="content">
    <h1></h1>
    <p>Contenido de ejemplo de la página Explorar.</p>
  </main>
</body>
</html>
